@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
    s     : 0, 
    sm    : 480px, 
    m     : 640px,
    l     : 960px,
    lg    : 1280px,
    xl    : 1600px,
    xxl   : 1920px, 
);

@function get-value($breakpoint) {
    @if type-of($breakpoint) == number {
        @return $breakpoint;
    }
    
    $value: map-get($breakpoints, $breakpoint);
    @if $value == null {
        @error 'El breakpoint #{$breakpoint} no está definido en $breakpoints';
    }
    @return $value;
}

@mixin fromTo($from, $to) {
    $min-width: get-value($from);
    $max-width: get-value($to);
    
    @media (min-width: #{$min-width}) and (max-width: calc(#{$max-width} - 1px)) {
        @content;
    }
}

@mixin from($breakpoint) {
    $min-width: get-value($breakpoint);
    
    @media (min-width: #{$min-width}) {
        @content;
    }
}

@mixin to($breakpoint) {
    $max-width: get-value($breakpoint);
    
    @media (max-width: calc(#{$max-width} - 1px)) {
        @content;
    }
}
