{
	"plugins": ["@prettier/plugin-pug"],
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"printWidth": 100,
	"trailingComma": "es5",
	"overrides": [
		{
			"files": "*.pug",
			"options": {
				"parser": "pug",
				"singleQuote": true,
				"semi": true,
				"tabWidth": 2,
				"printWidth": 100
			}
		}
	]
}
