nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='https://raw.githubusercontent.com/kikeestrada/linkup/master/public/assets/img/logot.png', alt='', class='top-nav__logo')
	